.favorites-container {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  height: 100vh;
  background-color: #CEE1CD;
  overflow: scroll;
  flex-wrap: wrap;
  align-items: center;
}