.favorites-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  height: 100vh;
}
/* 
.error-message {
  font-size: 2em;
  color: red;
} */