.breweries-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* background-image: url("../../assets/cans.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100vh;
}

.error-message {
  font-size: 2em;
  color: red;
}