.breweries-container {
  /* color: white; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height: 100vh;
  overflow: scroll;
}

@media only screen and (max-width: 900px) {
  .breweries-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .breweries-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
