.breweries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height: 100vh;
  background-color: #CEE1CD;
  overflow: scroll;
}