.brewery-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.brewery-details-wrapper {
  /* height: 80vh; */
  width: 30vw;
  color: black;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.brewery-details-image-container {
  width: inherit;
  display: flex;
  justify-content: center;
}

.brewery-details-image {
  width: inherit;
}

.brewery-type-and-contact-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.brewery-type-updated-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0;
}

@media only screen and (max-width: 900px) {
  .brewery-details-wrapper {
    width: 40vh;
  }

  .brewery-details-image-container {
    width: inherit;
  }

  .brewery-details-image {
    width: inherit;
  }
}
