.brewery-details-container {
  height: 15em;
  width: 20em;
  margin: 0.5em;
  color: black;
  opacity: 0.8;
  background-color: #E7E7E7;
  border-radius: 15px;
}

.back-to-search-link {
  display: flex;
  flex-direction: row-reverse;
  margin: 1em 2em 0em 0em;
}

.type-and-favorite-wrapper {
  border: 2px solid green;
}

.details-wrapper {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid purple;
}

.contact-info-wrapper {
  border: 2px solid red;
}

.favorite-button {
  cursor: pointer;
}