.brewery-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.details-wrapper {
  width: 45vw;
  color: black;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.details-image-container {
  width: inherit;
  display: flex;
  justify-content: center;
}

.details-image {
  width: inherit;
}

.details-type-contact-container {
  display: flex;
  justify-content: space-evenly;
}

.brewery-type::before {
  content: "Brewery Type: ";
  font-weight: bold;
}

.last-updated::before {
  content: "Last Updated: ";
  font-weight: bold;
}

.city-state, 
.street {
  margin: 0;
}

.address,
.phone-website {
  margin: 13px 2px;
}

.type-updated-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0;
}

@media only screen and (max-width: 900px) {
  .details-wrapper {
    width: 40vh;
  }

  .details-image-container {
    width: inherit;
  }

  .details-image {
    width: inherit;
  }
}
