.form-container{
  color: black;
  margin-bottom: 3em;
}

.no-search-results-message,
.error-message,
.site-info {
  color: black;
  opacity: 0.9;
  background-color: #FFFFFF;
  font-size: 20px;
  padding: 1em;
  margin: 2em;
  border-radius: 30px;
}

.error-message {
  color: red;
  font-weight: bold;
  font-style: italic;
}