.form-container{
  color: black;
}

.site-info {
  padding-top: 1em;
}

.city-search {
  width: 20em;
  height: 1.5em;
  margin: 1em 0em 2em 0em;
}

button:disabled {
  cursor: not-allowed;
}

.search-button {
  width: 8em;
  height: 2em;
  margin: 1em;
  cursor: pointer;
}

.error-message {
  color: red;
  font-style: italic;
  padding-bottom: 1em;
}
