.form-container{
  color: black;
}

.no-search-results-message,
.error-message {
  color: black;
  opacity: 0.9;
  background-color: #FFFFFF;
  font-style: italic;
  font-size: 24px;
  padding: 1em;
  margin: 0em 5em 0em 5em;
  border-radius: 22px;
}

.error-message {
  color: red;
}

.site-info {
  padding-top: 1em;
}

.city-search {
  width: 20em;
  height: 1.5em;
  margin: 1em 0em 2em 0em;
}

button:disabled {
  cursor: not-allowed;
}

.search-button {
  width: 8em;
  height: 2em;
  margin: 1em;
  cursor: pointer;
}
