.favorite-card-wrapper {
  width: 20em;
  height: 24em;
  margin: 0.5em;
  color: black;
  opacity: 1.2;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 3px 3px 3px grey;
}

.favorite-name {
  font-size: 21px;
}

.favorite-image-container,
.favorite-type-image {
  width: inherit;
  margin-bottom: 10px;
}

.remove-favorite-button {
  font-size: 24px;
  cursor: pointer;
}

.view-details-link {
  margin: 0em 0em 1em 0em;
  color: black;
}

.view-details-link:hover {
	text-decoration: underline;
}
