.favorite-card-wrapper {
  height: 22em;
  width: 20em;
  margin: 0.5em;
  color: black;
  opacity: 0.8;
  background-color: #E7E7E7;
  border-radius: 15px;
}

.favorite-name {
  height: 25%;
  padding-top: 1em;
  overflow-wrap: break-word;
}

.favorite-location {
  height: 15%
}

.remove-favorite-button {
  font-size: 2em;
  cursor: pointer;
}

.remove-favorite-button:hover {
  transform: scale(1.1);
}

.view-details-link {
  margin: 1em 0em 0em 0em;
  color: black;
}

.view-details-link:hover {
	text-decoration: underline;
}