.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0em 3em 0em 1em;
  background-color: #E7E7E7;
  border-bottom: 1px solid #828181;
}

.favorites-link {
  color: black;
}

.logo-home {
  height: 5em;
}