.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0em 3em 0em 1em;
  opacity: 0.8;
  background-color: #FFFFFF;
  border-bottom: 1px solid #828181;
}

.logo-home {
  height: 5em;
  text-decoration: none;
}

.favorites-link {
  text-decoration: none;
  color: black;
}

.favorites-link:hover {
	text-decoration: underline;
}

.active {
	text-decoration: underline;
}
