.brewery-card-wrapper {
  width: 20em;
  height: 24em;
  margin: 0.5em;
  color: black;
  opacity: 1.2;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 3px 3px 3px grey;
}

.favorite-icon-container {
  display: flex;
  justify-content: flex-end;
  margin: 5px 6px 0px 0px;
}

.brewery-name {
  font-size: 21px;
}

.brewery-image-container,
.brewery-type-image {
  width: inherit;
}

.full-beer-icon, 
.empty-beer-icon {
  font-size: 2em;
  cursor: pointer;
}

.full-beer-icon:hover, 
.empty-beer-icon:hover  {
  transform: scale(1.1);
}

.view-details-link {
  color: black;
}

.view-details-link:hover {
	text-decoration: underline;
  font-weight: bold;
}
